{{ define "main" }}

  <article class="markdown">
  <h2>{{ .Title }}</h2>
    <p>
      {{- .Content -}}
    </p>
  </article>
  <ul>
  {{ range .Paginator.Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
  
  {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
