{{ define "main" }}
<article class="markdown">
  <h2>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  {{ partial "docs/post-meta" . }}
  <p>
    {{- .Content -}}
  </p>
  <details open="true">
    <summary>stOTTR serialization</summary>
    {{ highlight (.Resources.GetMatch "**.stottr").Content "ttl" "style=github" }}
  </details>
  <br/>
  <details open="true">
    <summary>RDF/wOTTR serialization</summary>
   {{ highlight (.Resources.GetMatch "**.ttl").Content "ttl" "style=github" }}
   </details>
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
