/* Open Sans - regular */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('OpenSans Regular'), local('OpenSans-Regular'),
       url('fonts/OpenSans-Regular.ttf') format('truetype'); 
}
/* Open Sans - italic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('OpenSans Light Italic'), local('OpenSans-LightItalic'),
       url('fonts/OpenSans-LightItalic.ttf') format('truetype'); 
}
/* Open Sans - bold */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('OpenSans Bold'), local('OpenSans-Bold'),
       url('fonts/OpenSans-Bold.ttf') format('truetype'); 
}


body {
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}
